@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

// Breakpoints
$bp-tablet: 768px;

// Font Family
$ff: "Mulish", sans-serif;

// Font Sizes
$fs-primary: 1.25rem;
$fs-secondary: 1rem;

// Colours
$colour-primary: rgb(8, 0, 61);
$colour-secondary: rgb(255, 255, 255);
$colour-tertiary: rgba(255, 81, 81);

// Margins, Paddings, Gaps
$gap: 1.5rem;
